<div class="container">
  <div *ngFor="let dynamic of allForms;let FormIndex=index">
  <form [formGroup]="forms[FormIndex]" (ngSubmit)="handleForm(FormIndex)">
    <div *ngFor="let element of dynamic.formProperties">
      <label [for]="element.name">{{ element.label }}</label
      ><br>
      <input
        *ngIf="
          element.type === 'text' ||
          element.type === 'email' ||
          element.type === 'password'
        "
        [type]="element.type"
        [id]="element.name"
        [formControlName]="element.name"
        [placeholder]="element.placeholder"
      />
      <textarea
        *ngIf="element.type === 'textarea'"
        [id]="element.name"
        [formControlName]="element.name"
        [placeholder]="element.placeholder"
      ></textarea>

      <select
        *ngIf="element.type === 'select'"
        [formControlName]="element.name"
        [id]="element.name"
      >
        <option value="" disabled selected>Select {{ element.label }}</option>
        <option *ngFor="let option of element.options" [value]="option.value">
          {{ option.name }}
        </option>
      </select>

      <div *ngIf="element.type === 'radio'" id="radio">
        <label *ngFor="let option of element.options" [for]="option.name">
          <input
            type="radio"
            [formControlName]="element.name"
            [value]="option.value"
            [id]="option.name"
          />{{ option.name }}</label
        >
      </div>
      <div *ngIf="element.type === 'checkbox'" id="checkbox">
        <label
          *ngFor="let option of element.options; let i = index"
          [formArrayName]="element.name" [for]="option.name"
        >
          <input type="checkbox" [formControlName]="i" [id]="option.name"/>{{ option.name }}
        </label>
      </div>
    </div>
    <P> <button [disabled]="forms[FormIndex].invalid">Submit</button></P>
  </form>
 
</div>
</div>
